/* Navbar.css */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  .navbar-title {
    margin: 0;
    padding: 0 20px;
  }
  
  .navbar-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    padding: 0 20px;
  }

  .invisible-link {
    text-decoration: none; /* Removes the underline */
    color: white; /* Sets the text color to w
    curspr: pointer; /* Changes the cursor to a hand */
    /* Or use 'display: none;' if you want to remove it from the document flow */
  }